:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button,
input[type='text'], input[type='password'] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover,
input[type='text']:hover, input[type='password']:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible,
input[type='text']:focus, input[type='password']:focus,
input[type='text']:focus-visible, input[type='password']:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
input[type='text'], input[type='password'] {
    width: 90%;
    max-width: 300px;
    cursor: text;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.debug-info {
    color: #ffffff;
    mix-blend-mode: difference;
}

.starmap-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    overflow: hidden;
}

.starmap-label {
    position: absolute;
    border: 1px solid transparent;
    padding: 0.3em;
    white-space: nowrap;
}

.starmap-label:hover {
    background: #1a1a1a;
    border-color: #646cff;
    border-radius: 8px;
    z-index: 1;
}

.starmap-dot {
    background: red;
    border-radius: 50%;
    height: 0.3em;
    width: 0.3em;
    position: absolute;
    top: -2px;
    left: -2px;
    transform: translate(-50%, -50%);
}

.placeholder {
    display: none;
}

.background {
    background-color: #242424;
    border-radius: 8px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button, input[type='text'], input[type='password'] {
        background-color: #f9f9f9;
    }
    .starmap-label:hover {
        background: #f9f9f9;
    }
    .background {
        background-color: #ffffff;
    }
}
