:root {
    font-family: 'Sourcecodevf Upright.ttf', 'Sourcehansanscn Vf.ttf', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;

    font-variant-numeric: slashed-zero tabular-nums;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.serif {
    font-family: 'Sourcehanserifcn Vf.ttf', serif;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button,
input[type='text'], input[type='password'] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover,
input[type='text']:hover, input[type='password']:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible,
input[type='text']:focus, input[type='password']:focus,
input[type='text']:focus-visible, input[type='password']:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
input[type='text'], input[type='password'] {
    width: 90%;
    max-width: 300px;
    cursor: text;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button, input[type='text'], input[type='password'] {
        background-color: #f9f9f9;
    }
}
