:80 {
    encode zstd gzip
    root * /web
    file_server
    handle_path /manager/* {
        rewrite * /{path}
        reverse_proxy manager:8070
    }
    handle_path /server/* {
        rewrite * /{path}
        reverse_proxy server:8071
    }
}