#app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: hidden;
}

.fullscreen {
    min-width: 100vw;
    min-height: 100vh;
}

.card {
    padding: 2em;
}
