.absolute, .label-percent {
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    position: relative;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.pointer-pass > * {
    pointer-events: auto;
}

.pointer-pass {
    pointer-events: none;
}

.pointer-pass-all {
    pointer-events: none;
}

.debug-info {
    color: #ffffff;
    mix-blend-mode: difference;
}

.popout-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    overflow: hidden;
    z-index: 5;
}

.hover-label, .normal-label, .focus-label {
    border: 1px solid transparent;
    padding: 0.3em;
    border-radius: 8px;
    white-space: nowrap;
}

.hover-label:hover, .focus-label {
    background: #1a1a1a;
    border-color: #646cff;
    z-index: 1;
}

.label-percent {
    background-color: #ff000080;
    height: 100%;
    z-index: -1;
}

.starmap-dot {
    background: red;
    border-radius: 50%;
    height: 0.3em;
    width: 0.3em;
    position: absolute;
    top: -2px;
    left: -2px;
    transform: translate(-50%, -50%);
}

.auto-flow-container {
    overflow: auto;
}

.tech-tree {
}

.auto-expand {
    flex: 1 1 0;
}

.column2 {
    column-count: 2;
}

.label-item {
    display: flex;
    justify-content: space-between;
    margin: .2em;
    gap: 1em;
}

.tech-trainer-header {
    flex: none;
}

.flex-box-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.placeholder {
    display: none;
}

.background {
    background-color: #242424c0;
    box-shadow: 0 0 4px 1px #242424;
    backdrop-filter: blur(20px);
    border-radius: 8px;
}

.transfer-background {
    background-color: #242424;
    z-index: 10;
}

.no-cursor {
    cursor: none;
}

.pointer-cursor {
    cursor: none;
}

.normal-cursor {
    cursor: default;
}

.no-overflow {
    overflow: hidden;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes line-move {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 1;
    }
}

.transfer-line {
    position: absolute;
    height: 100%;
    animation: linear infinite line-move;
    background-color: rgba(255, 255, 255, 0.87);
    opacity: 0;
}

.transfer-box {
    --line-height: 2px;
    position: absolute;
    transform-origin: left center;
    width: 10%;
    height: var(--line-height);
    left: 50%;
    top: calc(50% - var(--line-height) / 2);
}

@media (prefers-color-scheme: light) {
    .hover-label:hover, .focus-label {
        background: #f9f9f9;
    }
    .background {
        background-color: #ffffffc0;
        box-shadow: 0 0 4px 1px #ffffff;
    }
    /*.transfer-line {*/
    /*    background-color: #213547;*/
    /*}*/
}
