.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.debug-info {
    color: #ffffff;
    mix-blend-mode: difference;
}

.popout-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    overflow: hidden;
}

.hover-label {
    border: 1px solid transparent;
    padding: 0.3em;
    border-radius: 8px;
    white-space: nowrap;
}

.hover-label:hover {
    background: #1a1a1a;
    border-color: #646cff;
    z-index: 1;
}

.starmap-dot {
    background: red;
    border-radius: 50%;
    height: 0.3em;
    width: 0.3em;
    position: absolute;
    top: -2px;
    left: -2px;
    transform: translate(-50%, -50%);
}

.auto-flow-container {
    overflow: auto;
}

.tech-tree {
    column-count: 2;
    flex: 1 1 0;
}

.tech-tree-item {
    display: flex;
    justify-content: space-between;
    margin: .2em;
}

.queue-list {
    flex: 1 1 0;
}

.tech-trainer-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.placeholder {
    display: none;
}

.background {
    background-color: #242424;
    border-radius: 8px;
}

@media (prefers-color-scheme: light) {
    .hover-label:hover {
        background: #f9f9f9;
    }
    .background {
        background-color: #ffffff;
    }
}
