.info-panel, .left-bottom, .right-bottom, .right-top, .center-top, .center-bottom {
    position: absolute;
    min-width: 10em;
    padding: 0.5em;
}

.expand-panel, .right-bottom, .right-top {
    min-width: 20em;
}

.left-bottom {
    left: 1em;
}

.left-bottom, .right-bottom, .center-bottom {
    bottom: 1em;
}

.right-bottom, .right-top {
    right: 1em;
}

.right-top, .center-top {
    top: 1em;
}

.center-top, .center-bottom {
    left: 50%;
    transform: translate(-50%, 0);
}

@media (prefers-color-scheme: light) {
}
